/* CSS Structure: 
  
There are 3 columns from Left to Right

1. sidebar
2. left-container (contains note list and search bar)
3. right-container (contains forms and large view of selected note)

  sb. lc.   rc.
  ___________________
  |  |     |        |
  |  |     |        |
  |  |     |        |
  |  |     |        |
  |  |     |        |

*/

/* Media Queries */
/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
}

/*. Global Settings */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, monospace, "Helvetica Neue", sans-serif;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background: #1f1f1f;
  margin: 0;
  width: 100%;
  height: 100%;
  color: white; 
}

button {
  border-radius: 5px;
}

input[type=submit]:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
}

li:hover{
  color:#4CAF50;
}

/* Anchor behaviors */
a:visited { text-decoration: none; color:white; }
a:hover { text-decoration: none; color:blue; }
a:focus { text-decoration: none; color:yellow; }
a:hover, a:active { text-decoration: none; color: #4CAF50 }

/* Container */
.container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  flex-wrap: wrap; 
}

/* Sidebar */
.sidebar-container {
  flex: .5;
  background-color: #333333;
  height: 57.5em;
  height: 100ev;
}

.sidebar-container-closed {
  flex: .5;
  flex-direction: row;
  background-color: #333333;
  height: 10px;
  width: 100%;
}

.sidebar-items-top {
  letter-spacing: 1px;
  padding: 5px;  
}

.sidebar-items-bottom {
  letter-spacing: 1px;
  padding: 5px;
  bottom: 0;
}

/* Left Container */
.left-container {
  flex: 0 0 auto;			
  width: 460px;
  margin: 0px 0px 1px 1px;
  overflow: scroll;
  border-right:#888888 solid .1px;
  height: 57.5em;
}

.searchbar-input {
  float: left;
  width: 80%;
  height: 38px;
  text-align: left;
  padding: 10px;
  background-color:#1f1f1f;
  color: white;
  font-size: 1.4em;
  border: none;
}

.search-button {
  background: #1f1f1f;
  cursor: pointer;
  color: #4CAF50;
  float: left;
  justify-content: center;
  margin-right: 10px;
}

.add-button {
  background: #1f1f1f;
  cursor: pointer;
  color: #4CAF50;
  float: left;
}

.fieldwrapper{
  white-space: nowrap;
}

.note {
  color: white;
  float: left;
  width: 450px;
  height: 100px;
  padding: 5px;
  margin: 5px 5px;
  border-bottom: #888888 solid .1px;
}

.note:hover{
  background-color:#4CAF50;
}


/* Right Container */
.right-container {
  flex: 4;
  height: 57.5em;
  border-left:#888888 solid .1px;
}

.note-form {
  position: relative;
  width: 100%;
  height: 100%;
  background-color:  #1f1f1f;
  padding: 5px;
  border-radius: 5px;
}

.note-form-input {
  margin: 0px;
  min-width: 0px;
  display: block;
  appearance: none;
  line-height: inherit;
  background-color: transparent;
  border-radius: 5px;
  color: rgb(211, 211, 211);
  height: 100px;
  overflow-y: hidden;
  font-size: 3em;
  font-weight: 700;
  border: medium none;
  resize: none;
  width: 90%;
  min-height: 30px;
}

.note-form-tags {
  min-width: 0px;
  display: block;
  appearance: none;
  line-height: inherit;
  background-color: transparent;
  color: rgb(211, 211, 211);
  overflow-y: hidden;
  font-size: 1.625em;
  font-weight: 700;
  border: medium none;
  resize: none;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.note-form-select {  
  padding: 4px;
  color: black;
  text-align: left;
  background-color: #1f1f1f;
}

.note-form-textarea {
  width: 100%;
  padding: 4px;
  font-size: 1.2em;
  font-family: inherit;
  height: 500px;
  background-color: #1f1f1f;
  color: white;
  border: none;
}

.note-form-button {
  float: right;
  background: #1f1f1f;
  cursor: pointer;
  color: #4CAF50;
  justify-content: center;
  margin-right: 10px;
}

.note-select-button {
  background-color:  #1f1f1f !important;
  color: black;
}

.edit-form {
  width: 100%;
  background-color: #1f1f1f;
  padding: 5px;
  border-radius: 5px;
  color: white
}

.edit-button {
  float: right;
  justify-content: center;
}

.delete-note-button {
  float: right;
  cursor: pointer;
  position: fixed;
  bottom: 0.5px;
}

.toggle-button {
  background: #4CAF50;
  padding: 10px 15px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
}

/* Login and Logout */

.login-title {
  font-size: 90px;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 75vh;
}

.login-form-username {
  width: 100%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: solid green;
  border-radius: 4px;
  background-color: #1f1f1f;
  font-size: 1.4em;
}

.login-form-password {
  width: 100%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: solid green;
  border-radius: 4px;
  background-color: #1f1f1f;
  font-size: 1.4em;
}

.login-button {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.4em;
}

.logout-button {
  width: 25%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.4em;
}

/* Footer */

.footer {
  background-color: #333333;
  position: fixed;
  padding-left: 2px;
  bottom: 0;
  width: 100%;
  height: 30px;
}