/* CSS Structure: 
  
There are 3 columns from Left to Right

1. sidebar
2. left-container (contains note list and search bar)
3. right-container (contains forms and large view of selected note)

  sb. lc.   rc.
  ___________________
  |  |     |        |
  |  |     |        |
  |  |     |        |
  |  |     |        |
  |  |     |        |

*/

/*. Global Settings */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, monospace, "Helvetica Neue", sans-serif;

}

body {
  background: #1f1f1f;
  color: white; 
  
}

button {
  border-radius: 5px;
}

input[type=submit]:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
}

li:hover{
  color:#4CAF50;
}

input:-webkit-autofill 
{
  -webkit-box-shadow: inset 0 0 0px 9999px white;
}

input {
  filter: none;
}
/* Media Queries */
/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 900px) {
  .container {
    flex-direction:column;
  }

  .sidebar-container {
    flex: .5;
    z-index: 2;
    flex-direction: column;
    position: absolute;
    max-height: 50px;
    width: 100%;
  }

  .sidebar-container-closed {
    flex: .5;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    max-height: 40px;
    width: 100%;
  }

  .left-container {
    position: absolute;
    flex-direction: column;
  }

  .search-fieldwrapper {
    margin-top: 54px;
    flex-direction: column;
  }

  .search-filter-bar {
    margin-top: 100px !important;
    background-color: #333333;
    border: solid #333333
  }

  .add-button {
    display: none !important;
  }

  .notelist {
    flex-direction: column-reverse;
    margin-top: 10px;
  }

  .right-container {
    margin-top: 200px;
    flex-direction: column;
    display: none;
  }

  .login-title {
    font-size: 70px !important;
  }

  .note-detail-view {
    display: none !important;
  }

  ul {
    list-style-type: none;
  }
  input[type=text] {
    color: white !important;
    background-color: white !important;
  }

}

@media (min-width: 901px) {
  .add-button-responsive {
    display: none !important;
  }
  .back-link-create-note {
    display: none !important;
  }
  .responsive-note-detail-view {
    display: none !important;
  }

  .view-note-fullscreen {
    margin: 20px !important;
    padding: 20px !important;
  }
}

/* Anchor behaviors */
a:visited { text-decoration: none; color:white; }
a:hover { text-decoration: none; color:#4CAF50; }
a:focus { text-decoration: none; color:yellow; }
a:hover, a:active { text-decoration: none; color: #4CAF50 }

/* Container */
.container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  flex-wrap: wrap; 
  min-height: 100vh;
  width: 100%;
}



/* Sidebar */
.sidebar-container {
  flex: .5;
  background-color: #333333;
  height: 60.5rem;
}

.sidebar-container-closed {
  flex: .5;
  flex-direction: row;
  background-color: #333333;
  height: 1.5rem;
  height: 60.5rem;
}

.sidebar-items-top {
  letter-spacing: 1px;
  padding: 5px;  
  background-color: #333333;
}

.sidebar-items-bottom {
  letter-spacing: 1px;
  padding: 5px;
  bottom: 0;
  background-color: #333333;
}

/* Left Container */
.left-container {
  flex: 1;		
  width: 100%;
  margin: 0px 0px 1px 1px;
  overflow-y: scroll;
  border-right:#888888 solid .1px;
  height: 57.5rem;
}

.searchbar-input {
  float: left;
  width: 60%;
  height: 38px;
  text-align: left;
  justify-content: center;
  padding: 10px;
  padding-bottom: 20px;
  background-color:#1f1f1f;
  color: white;
  font-size: 1.4rem;
  border: none;
  margin-top: 5px;
}

.search-button {
  background: #1f1f1f;
  cursor: pointer;
  color: #4CAF50;
  float: right;
  justify-content: center;
  margin-right: 10px;
  transition: width 0.5s;
  margin-left: 16px;
}

.search-button:hover {
  color: rgb(1,255,107);
}

.add-button {
  margin: 2px 10px 10px;
  width: 36px;
  height: 36px;
  z-index: 10;
  padding: 15px;
  padding-top: 10px;
  padding-left: 9px;
  font-weight: 400;
  border-radius: 50px;
  font-size: 30px;
  cursor: pointer;
  float: right;
  -moz-box-align: center;
  align-items: center;
  text-align: center;
  display: flex;
  color: white;
  border: none;
  background-color: rgb(1, 195, 82);
  box-shadow: rgb(1, 195, 82) 1px 1px 10px 0px;
}

.add-button:hover {
  background-color: rgb(1, 255, 82);
  box-shadow: rgb(1, 255, 107) 1px 1px 10px 0px;
}

.add-button-responsive {
  margin: 0px 10px 10px;
  width: 52px;
  height: 52px;
  z-index: 10;
  /* padding: 15px; */
  padding-bottom: 7px;
  padding-left: 14.5px;
  bottom: 30px;
  right: 18px;
  font-weight: 400;
  border-radius: 50px;
  font-size: 40px;
  position: fixed;
  cursor: pointer;
  float: right;
  -moz-box-align: center;
  align-items: center;
  text-align: center;
  display: flex;
  color: white;
  border: none;
  background-color: rgb(1, 195, 82);
  box-shadow: rgb(1, 195, 82) 1px 1px 10px 0px;
}

.add-button-responsive:hover {
  background-color: rgb(1, 255, 82);
  box-shadow: rgb(1, 255, 82) 1px 1px 10px 0px;
}

.search-filter-bar {
  margin-top: 50px;
  background-color: #333333;
  border: solid #333333
}

.search-filter-bar-text-left {
  color: #4CAF50;
  margin-left: 10px;
}

.search-filter-bar-text-right {
  color: white;
  margin-right: 16px;
  float: right;
}

.custom-select {
  appearance: none;
  background-color:#333333;
  color: white;
  border: solid #333333;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* background-image: url(...);   Add custom arrow */
}

.select-down-chevron {
  margin-left: -8px;
  font-size: 12px;
}

.note {
  color: white;
  float: left;
  width: 98%;
  height: 5rem;
  padding: 5px;
  margin: 5px 5px;
  border-bottom: #888888 solid .1px;
  justify-content: center;
}

.note-content {
  float: left;
  margin-right: 50px;
  width: 90%;
  height: 100%;
}

.note:hover{
  background-color:#01c352;
}

.note-dots {
  float: right;
  margin-top: -50px;
}


/* Right Container */
.right-container {
  flex: 3;
  height: 57.5rem;
  border-left:#888888 solid .1px;
}

.note-form {
  position: relative;
  width: 100%;
  height: 100%;
  background-color:  #1f1f1f;
  padding: 5px;
  border-radius: 5px;
}

.note-form-input {
  margin: 0px;
  min-width: 0px;
  display: block;
  appearance: none;
  line-height: inherit;
  background-color: transparent;
  border-radius: 5px;
  color: rgb(211, 211, 211);
  height: 100px;
  overflow-y: hidden;
  font-size: 2.4rem;
  font-weight: 700;
  border: medium none;
  resize: none;
  width: 90%;
  min-height: 30px;
}

.note-form-tags {
  min-width: 0px;
  appearance: none;
  line-height: inherit;
  background-color: transparent;
  color: rgb(211, 211, 211);
  overflow-y: hidden;
  font-size: 1.625rem;
  font-weight: 700;
  border: medium none;
  resize: none;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

.note-form-categories {
  min-width: 0px;
  /* background-color: transparent; */
  color: black;
  font-size: 1.625rem;
  font-weight: 700;
  border: medium none;
  resize: none;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

.note-form-select {  
  padding: 4px;
  text-align: left;
}

.note-form-textarea {
  width: 100%;
  padding: 4px;
  font-size: 1.2rem;
  font-family: inherit;
  height: 500px;
  background-color: #1f1f1f;
  color: white;
  border: none;
}

.note-form-button {
  background: #1f1f1f;
  cursor: pointer;
  color: #4CAF50;
  float: right;
}

.note-select-button {
  background-color:  #1f1f1f !important;
  color: black;
}

.edit-form {
  width: 100%;
  background-color: #1f1f1f;
  padding: 5px;
  border-radius: 5px;
  color: white
}

.edit-button {
  float: right;
  justify-content: center;
}

.delete-note-button {
  float: right;
  cursor: pointer;
  position: fixed;
  /* bottom: 0.5px; */
  color: red;
}

.out-trash-button {
  /* float: right; */
  cursor: pointer;

  color: green;
}
.toggle-button {
  background: #4CAF50;
  padding: 10px 15px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
}

/* Login and Logout */

.login-title {
  font-size: 90px;
  font-weight: bold;
}

.login-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 75vh;
}

.login-form-username {
  width: 100%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: solid green;
  border-radius: 4px;
  background-color: #1f1f1f;
  font-size: 1.4rem;
}

.login-form-password {
  width: 100%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: solid green;
  border-radius: 4px;
  background-color: #1f1f1f;
  font-size: 1.4rem;
}

.login-button {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.4rem;
}

.logout-button {
  width: 25%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.4rem;
}

.login-loading {
  width: 50px;
  height: 50px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;

}

/* Category */

.category-container {
  margin: 5px;
  padding: 5px;
}

.category-title {
  padding-bottom: 10px;
}

.category-list {
  padding-bottom: 10px;
  margin-left: -5px;
}

.category-input-form {
  height: 40px;
  width: 60%;
}

.add-category-button {
  background-color: #4CAF50;
  cursor: pointer;
  color: white;
  float: center;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 30%;
  border: none;
}

.category-item {
  color: white;
  float: left;
  width: 10rem;
  height: 5rem;
  padding: 1px;
  margin: 5px 5px;
  border: #888888 solid .1px;
  text-align: center;
  line-height: 70px;
}

.category-item:hover{
  background-color:#01c352;
}

/* SVGs */

.svg-sidebar-icon {
  font-size: "16px";
  float: "left";
  margin-right: "10px";
  margin-top: "2px"
}

/* Footer */

.footer {
  background-color: #333333;
  position: fixed;
  padding-top: 5px;
  padding-left: 26px;
  bottom: 0;
  width: 100%;
  height: 30px;
}
